* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #00020a, #0147c6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.emoji {
    width: 100px; /* Tamaño fijo del contenedor */
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.emoji img {
    width: 100%;  /* La imagen tomará todo el ancho del contenedor */
    height: 100%; /* La imagen tomará todo el alto del contenedor */
    object-fit: contain; /* Esto asegura que la imagen se ajuste dentro del contenedor sin deformarse */
}

.rating .fas {
    font-size: 40px;
    color: #e4e4e4;
    cursor: pointer;
    transition: color 0.3s ease;
}

.rating .fas:hover {
    color: #ffd93b;
}

.rating {
    display: flex;
    gap: 10px;
}
